@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Epilogue', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #f7f7f7;
  overflow: hidden;
}

.task_container {
  max-width: 1216px;
  height: 100%;
}

.task_container header {
  width: 100vw;
  background-color: #115235;
  height: 72px;
  color: white;
  font-weight: 800;
  position: fixed;
  top: 0;
  left: 0;
}

.task_container header h1 {
  font-weight: 800;
  text-align: center;
  margin: 0;
}

.task_container header div {
  max-width: 1216px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.task_container .btn_header {
  background-color: #2FC18C;
  padding: 16px;
  border: none;
  outline: none;
  text-decoration: none;
  border-radius: 6px;
  color: white;
  font-weight: 800;
}

.task_container .btn_header:hover {
  background-color: #099662;
}

.task_container .task_task {
  width: 100vw;
  height: 100%;
  margin-top: 104px;
}

.task_container .task_task .engloba_task {
  max-width: 1216px;
  height: 100%;
  margin: 0 auto;
}

.task_container .task_task .engloba_task h1 {
  color: #115235;
  font-size: 56px;
  display: inline-block;
  font-weight: 800;
  border-bottom: 10px solid #1a1a1a;
  margin-bottom: 32px;
}

.task_container .task_task .engloba_task h4 {
  color: #525252;
  font-weight: 600;
  font-size: 18px;
}

.btn_create {
  background-color: #115235;
  padding: 16px;
  border: none;
  outline: none;
  border-radius: 6px;
  color: #f7f7f7;
  font-weight: 800;
}

.btn_create:hover {
  background-color: #369F70;
}

.bloco h2 {
  width: 256px;
  height: 32px;
  background-color: #115235;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f7f7f7;
  font-weight: 600;
  font-size: 16px;
  border-bottom: 10px solid #1a1a1a;
  margin-bottom: 16px;
}

.input_createTask {
  width: 256px;
  outline: none;
  font-family: 'Epilogue', sans-serif;
  border: #ccc 1px solid;
  border-radius: 4px;
  color: #115235;
}

.input_createTask::-webkit-input-placeholder {
  color: #115235;
  text-align: center;
}

.input_createTask:-ms-input-placeholder {
  color: #115235;
  text-align: center;
}

.input_createTask::-ms-input-placeholder {
  color: #115235;
  text-align: center;
}

.input_createTask::placeholder {
  color: #115235;
  text-align: center;
}

.input_createTask:focus, .select_createTask:focus {
  outline: none;
  border: #2FC18C 2px solid;
}

.blocoMaior {
  margin-bottom: 72px;
}

.blocoMaior2 {
  margin-bottom: 36px;
}

.containerBig {
  margin-top: 56px;
}

.select_createTask {
  width: 256px;
  outline: none;
  font-family: 'Epilogue', sans-serif;
  border: #ccc 1px solid;
  border-radius: 4px;
  color: #115235;
  background-color: white;
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */